# PyCharm
.idea/
*.iml
*.iws
.idea_modules/
atlassian-ide-plugin.xml
/.idea/caches/
/.idea/libraries/
/.idea/dataSources/
/.idea/dataSources.ids
/.idea/dataSources.xml
/.idea/dataSources.local.xml
/.idea/sqlDataSources.xml
/.idea/dynamic.xml
/.idea/uiDesigner.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/dictionaries
/.idea/shelf
/.idea/httpRequests
/.idea/gradle.xml
/.idea/compiler.xml
/.idea/runConfigurations
/.idea/encodings.xml
/.idea/jarRepositories.xml
/.idea/.gitignore
/.idea/.name
/.idea/checkstyle-idea.xml
/.idea/description.html
/.idea/inspectionProfiles/
/.idea/jsLibraryMappings.xml
/.idea/markdown-navigator.xml
/.idea/markdown-navigator-enh.xml
/.idea/scala_compiler.xml
/.idea/scala_settings.xml
/.idea/sqldialects.xml
/.idea/aws.xml

# PyCharm patch files
*.patch

# PyCharm coverage
/htmlcov/
/.coverage
/.coverage.*
/.pytest_cache/
.coverage
.tox/
.coverage.*
*.cover
*.py,cover
.hypothesis/

# PyCharm run configurations
.idea/runConfigurations/

# PyCharm workspace
workspace.xml
tasks.xml

253_31033_139-pycharm-support-libs/
.Dockerfile.swp
docker-compose.yml
dockerignore
Backend/__pycache__/DataManager.cpython-312.pyc
Notebooks/.ipynb_checkpoints/Data_Analysis-checkpoint.ipynb
